@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 98.7vw;
    height: 100vh;
    background-color: darkgrey;
}

header, footer{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 20px;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > p, footer > p{
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 50px;
    line-height: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

section > p {
    padding-bottom: 1.5em;
    font-weight: 600;
}

section.normal{
    background-color: white;
    color: black;
}

section.image{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 15px 0px rgba(0, 0, 0, 0.735);
}

section.image > p{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.55);
    padding: 5px;
    border-radius: 10px;
}

section#img1{
    background-image: url(../img/POV-G.jpg);
    background-size: cover;
    background-position: center center;
}

section#img2{
    background-image: url(../img/write-G.jpg);
    background-size: cover;
    background-position: center center;
}

section#img3{
    background-image: url(../img/goldenHour-G.jpg);
    background-size: cover;
    background-position: center center;
}

section#img4{
    background-image: url(../img/bestPart-G.jpg);
    background-size: cover;
    background-position: center center;
}

section#img5{
    background-image: url(../img/mirrors-G.jpg);
    background-size: cover;
    background-position: center center;
}

.normal#final{
    font-size: 4em;
    font-weight: bolder;
}

#traduzir{
    margin:  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a{
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.557);
}

#traduzir> a:hover{
    background-color: rgb(46, 46, 46);
    color: white;
}




/*Media Queries*/

@media screen and (max-width: 600px) {/*Pequenas Telas*/
    body, html{
        width: 96.7vw;
        height: 100vh;
        background-color: darkgrey;
    }

    footer > p{
        font-size: 0.6em;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 768px) {/*Celular*/
    body, html{
        width: 97.7vw;
        height: 100vh;
        background-color: darkgrey;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 992px) {/*Tablet*/
    body, html{
        width: 98.2vw;
        height: 100vh;
        background-color: darkgrey;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/*Desktop*/
    body, html{
        width: 98.3vw;
        height: 100vh;
        background-color: darkgrey;
        color: white;
    }
    
    
}

@media screen and (min-width: 1200px) {/*Grandes Telas*/
    body, html{
        width: 98.6vw;
        height: 100vh;
        background-color: darkgrey;
    }
    
}




